%open-light{
    font-family: 'Open Sans';
    font-weight: 400;
}
%open-semibold{
    font-family: 'Open Sans';
    font-weight: 600;
}
%open-bold{
    font-family: 'Open Sans';
    font-weight: 700;
}
%open-extrabold{
    font-family: 'Open Sans';
    font-weight: 800;
}
%bebasbold{
    font-family: 'BebasNeueBold';
    font-weight: 700;
}